.contract_container{
  width: 670px;
  margin: 50px auto 20px auto;
  text-align: center;
  .consult-btn {
    display: block;
    background-color: #228B22;
    width: 240px;
    height: 30px;
    margin-top: 20px;
    margin-left: 215px;
    border-radius: 5px;
    padding-top: 2px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
}